# Python
*.pyc
__pycache__/

# Virtual Environments
.venv/
env/
bin/
include/
lib/

# Package Build & Distribution
build/
dist/
*.egg-info/
.monarchmoney.egg-info/
MANIFEST

# Testing
.pytest_cache/

# IDE & Editor
.vscode/

# Environment Variables
.env

# Application Specific
.mm

# OS Specific
.DS_Store
